* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


.container {
  margin-top: 40px;
  width: 70%;
  margin: auto;
  background-color: turquoise;
}

.container h1{
  padding: 40px;
  text-align: center;
  font-size: 80px;
  text-shadow: 1px 1px 2px gray;
  text-transform: uppercase;
  color: white;
}

.row {
  
  margin: 40px 0;
  text-align: center;
}

.struttura{
  float: left;
  background-color: white;
  width: 20%;
  height: 350px;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 4%;  
}


.cartacoperta{
  background-image: url(../img/pattern.png);
  background-size: contain;
  /* display: none; */
}


/* .carta1{
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: contain;
}

.carta2{
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: contain;
}

.carta3{
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: contain;
}

.carta4{
  background-image: url(../img/noun_air_balloon_3134741.png);
  background-size: contain;
}
 */

